.OrderSummaryComponent{
    width: 350px;
    height: 400px;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    gap:10px;
    padding : 25px;
}




.borderBottom2Gray{border-bottom: 2px solid gray;}
.radius2px{border-radius: 2px;}



.flex{
    display:flex;
}
.fCenter{
    justify-content: center;
    align-items: center;
}
.spaceBtweeen{
    justify-content: space-between;
}

.perW20{width:20%}
.perW40{width:40%}
.perW60{width: 60%;}

.perH20{height:20%}
.perH40{height:40%}
.perH60{height: 60%;}

.noMargin{margin:0}
.noMarginBottom{margin-bottom:0;}
.noMarginTop{margin-top:0;}

.marginBottom10px{
    margin-bottom: 10px;
}
.marginRight10px{
    margin-right: 10px;
}
.marginTop10px{
    margin-top: 10px;
}

.relative{
    position : relative
}
.top25{
    top:25px
}

.radius10{
    border-radius: 10px;
}
.underline{
    text-decoration: underline;
}

.bold{
    font-weight: bolder;
}

