.stay-amenities {
  padding: 48px 0px;

  .amenities-title {
    padding-bottom: 25px;
    line-height: 1.625rem;
    font-size: 1.375rem;
    color: #222222;
  }
  .amenities-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .amenity {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0px 8px;
      padding-bottom: 16px;

      .amenities-icon {
        margin-right: 16px;
        height: 24px;
        width: 24px;
      }

      .amenities-icon svg {
        height: 100%;
        width: 100%;
      }

      .amenities-text {
        padding: 0px 8px;
      }
    }
  }
}

@media screen and (max-width: 743px) {
  .amenities-list{
  grid-template-columns: 1fr !important;
}
}
