.details-and-reserve {
  display: grid;
  grid-template-columns: 1.45fr 1fr;
  font-family: $font-caption;
  border-bottom: 1px solid #dedede;
  margin-top: 18px;

    .details {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;

    .type-and-capacity {
      max-width: 1120px;
      padding: 32px 0px;

      .type-title {
        font-family: $font-heading;

        line-height: 1.625rem;
        font-size: 1em;
        font-weight: 600;
        padding: 0px;
        margin: 0px;
      }

      .capacity-details {
        line-height: 1.25rem;
        margin-top: 4px;
      }
    }

    .host {
        font-family: $font-caption;
      padding: 24px 0px;
      flex-direction: row;
      gap: 24px;
    }

    .host img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }

    .divider {
      height: 0.5px;
      background-color: rgb(216, 213, 213);
      margin: 10px 0px;
    }

    .advantages-list {
      flex-direction: column;
      padding: 32px 0px;
      gap: 24px;

      .advantage {
        font-family: $font-caption;
        font-weight: 500;
        flex-direction: row;
        gap: 24px;

        .advantage-icon {
          width: 40px;
          justify-content: center;
        }

        .advantage-text {
          flex-direction: column;

          .advantage-title {
            color: rgb(34, 34, 34);
            font-size: 1rem;
            line-height: 1.25rem;
            margin-bottom: 4px;
          }

          .advantage-details {
            color: rgb(106, 106, 106);
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.25rem;
          }
        }
      }
    }

    .stay-description {
      padding-top: 32px;
      padding-bottom: 48px;
    }
  }

    .reserve-stay-form {
        position: relative;
        margin-bottom: 2rem;
      

    @include for-max-narrow-layout {
      display: none;
    }
  }
}
