.stay-map {
    padding: 48px 0px;
    max-width: 1120px;
    margin: auto;
    margin-bottom: 32px;

    @include for-max-narrow-layout {
      padding-inline: em(24px, 16px);
    }

    .map-container{
      border-radius: 8px;
      overflow: hidden;
      margin-bottom: 32px;
    }

    h1 {
      font-size: rem(22px);
      font-family: $font-caption;
      padding-bottom: 24px;
      font-weight: 500;
    }

    h3 {
      font-size: rem(16px);
      font-family: $font-caption;
      padding-bottom: 24px;
      font-weight: 400;
    }

    .map-popper {
      height: 48px;
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $clr-brand;
      border-radius: 50%;
      position: relative;

      .popper-wedge {
        background: linear-gradient(135deg, rgba(0, 0, 0, 0) 50%, rgb(255, 56, 92) 50%);
        border-radius: 2px;
        bottom: -4px;
        height: 12px;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 0px) rotate(45deg);
        width: 12px;
        z-index: autol
      }

      svg {
        height: 22px;
        width: 22px;
        display: block;
        color: $clr-white;
      }
    }
  }

  @media screen and (max-width: 743px) {
    .stay-map {
      padding: 0 16px;
    }
  
    .map-container {
      height: 300px !important; // Reduce height
      border-radius: 10px !important;
      overflow: hidden;
    }

    .stay-map h1{
      padding-bottom: 0px !important;
    }
    .stay-location-name{
      padding-bottom: 10px !important;
      font-weight: 500 !important;
    }
  }
  