.page-footer{
    // position: fixed;
    // bottom: -1px;
    // left: 0;
    width: 100%;
    max-height: 50px;
    height: 47px;
    background-color: #fff;
    font-size: .875rem;
    display: flex;
    // justify-content: center;
   padding: 14px 20px;
    // margin-inline: auto;
    box-shadow: 0 -.5px #c5c5c5b0;
    z-index: 1;

    .footer-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .footer-left{
            display: flex;
            flex-direction: row;
            gap: 8px;  
        }

        .footer-right{
            display: flex;
            flex-direction: row;
            gap: 12px;
        }
    }
}