.review-edit {
    font-family: $font-caption;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;

  padding-block-end: 1em;
  border-block-end: 1px solid lightgray;

  > * {
    margin: 0;
    height: 2em;
  }

  textarea {
    flex-grow: 1;
    font-family: inherit;
  }
}

.review-list-container {
  max-width: 1120px;
  margin: auto;
  padding: 0px 20px;
}

.review-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap:40px;
  padding-bottom: 40px;

//   .review-preview{
//     ;
//   }

  .review-item {
    // margin-bottom: 40px;
    margin-right: 100px;
  }
  .review-txt{
  height: 125px;
  overflow: hidden;
  }

  .review-by{
    color:black;
    
  }
  .review-about{
    color: gray;
  }

  .review-by{
    color: black;
    font-weight: 500;
  }

  .review-img img{
   border-radius: 70px;
  }

  .btn-show-more { 
    display: inline;
    background:none;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid black;
    width: 90px;
    border-radius: 0px;
   
  }
}

@media screen and (max-width: 450px) {

.review-item{
  margin: 0px 0px !important;
  width: 340px;
  padding: 15px 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Nice soft shadow */
}

.review-list{
  gap: 25px !important;
}

.review-txt{
height: 100px !important;
}

}

