.stay-list {
  list-style: none;
  font-size: 0.9375rem;
  --min-column-size: 225px;
  font-family: 'circularMedium', sans-serif;
  line-height: 1.6;
  font-size: 1.125rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-column-size), 1fr));
  grid-auto-flow: dense;
  row-gap: 40px;
  column-gap: 24px;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 40px;

  .stay-preview {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9375rem;
    margin: 0;
    overflow: hidden;
    position: relative;

    .image-container {
      width: 100%;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      margin-bottom: 12px;

      .preview-img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-fit: cover;
        object-position: center;
      }
    }

    .control-dots {
      bottom: 10px;
    }

    .control-dots .dot {
      background-color: #ffffff;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      margin: 0 3px;
      transition: opacity 0.3s ease;
    }

    .control-dots .dot.selected {
      background-color: #eeeeee;
      opacity: 1;
    }

    .custom-arrow {
      cursor: pointer;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      z-index: 10;
      background-color: rgba(254, 254, 254, 0.938);
      color: black;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      opacity: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: opacity 0.5s ease;
    }

    .custom-arrow:active{
      background-color: rgb(255, 255, 255);
      box-shadow: none;

    }

    .prev-arrow {
      left: 10px;
    }

    .next-arrow {
      right: 10px;
    }

    .custom-arrow img {
      width: 15px;
      height: 15px;
    }

    .stay-card-details {
      display: flex;
      flex-direction: column;
      line-height: 1.1875rem;
      font-size: 0.9375rem;
      color: #000;
      gap: 2px 8px;

      .preview-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #222222;
        gap: 5px;
        // line-height: 19px;
        // font-size: 0.9375rem;

        .preview-name {
          font-weight: 600;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          // color: #222222;
        }

        .preview-rating {
          display: flex;
          padding: 0px 5px;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 3px;
        }

        .preview-rating span {
          line-height: 2px;
        }
      }

      .preview-summary {
        color: #6a6a6a;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
      }

      .preview-dates {
        color: #6a6a6a;
        height: 1.4em;
        margin: 0;
      }

      .preview-price {
        margin-top: 6px;
        .price-number {
          font-family: 'circularMedium', sans-serif;
          font-weight: 600;
          height: 1.4em;
        }
      }
    }
  }

  .stay-preview:hover .prev-arrow,
  .stay-preview:hover .next-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }
}
