.stay-list {
  color: #000;
  font-size: 0.9375rem;
  --min-column-size: 220px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-column-size), 1fr));
  grid-auto-flow: dense;
  row-gap: 10px;
  column-gap: 24px;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 40px;

  .stay-preview {
    cursor: pointer;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .preview-img {
      height: 70%;
      width: 100%;
      border-radius: 15px;
    }

    .stay-card-details {
      // margin-top: 12px;
      display: flex;
      flex-direction: column;
      //   gap: 2px 8px;

      .preview-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 19px;
        font-size: 0.9375rem;

        .preview-name {
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .preview-summary {
        color: #717171;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
       margin: 0;
      }

      .preview-dates {
        color: #717171;
        height: 1.4em;
        margin: 0;
      }

      .price-number {
        font-weight: bold;
        height: 1.4em;
      }
    }
  }
}
