* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: lato-regular;
    font-size: 1rem;
    line-height: 1.6;
    scroll-behavior: smooth;
}

// body {

//  font-family: cereal-medium

// }

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: circularMedium;
    // margin: 0 0 0.6em;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}
