.main-container {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(auto, 2520px) minmax(50px, 1fr);

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

  
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}


@media (min-width:1128px){
    .main-container {
        grid-template-columns: 40px minmax(1048px, auto) 40px;

    }
}


@media (min-width:1640px){
    .main-container {
        grid-template-columns: minmax(80px, 1fr) minmax(auto,1280px) minmax(80px, 1fr);

    }
}


@media (min-width:1880px){
    .main-container {
        display: grid;
        grid-template-columns: minmax(80px, 1fr) minmax(auto,1280px) minmax(80px, 1fr);
    
      
    }
}

  // @include for-narrow-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $mobile-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-normal-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $narrow-breakpoint)
    //         minmax(20px, 1fr);
    // }
    // @include for-wide-layout {
    //     grid-template-columns: 
    //         minmax(20px, 1fr)
    //         minmax(auto, $normal-breakpoint)
    //         minmax(20px, 1fr);
    // }