
@font-face {
    font-family: circularLight;
    src: url(../../fonts/circular/Circular-Light.ttf);
}

@font-face {
    font-family: circularMedium;
    src: url(../../fonts/circular/Circular-Medium.ttf);
}

@font-face {
    font-family: circularRegular;
    src: url(../../fonts/circular/Circular-Regular.ttf);
}

@font-face {
    font-family: circularBold;
    src: url(../../fonts/circular/Circulars-Bold.ttf);
}