// @font-face {
//   font-family: circularLight;
//   src: url(../../fonts/circular/Circular-Light.ttf);
// }

@font-face {
  font-family: cereal-Regular;
  src: url(../../fonts/cereal/AirbnbCerealLight.ttf);
}

@font-face {
  font-family: cereal-Bold;
  src: url(../../fonts/cereal/AirbnbCerealBold.ttf);
}

@font-face {
  font-family: Cereal-Book;
  src: url(../../fonts/cereal/AirbnbCerealBook.ttf);
}

@font-face {
  font-family: cereal-Black;
  src: url(../../fonts/cereal/AirbnbCerealBlack);
}

@font-face {
  font-family: cereal-Medium;
  src: url(../../fonts/cereal/AirbnbCerealMedium.ttf);
}

@font-face {
  font-family: flow-Circular;
  src: url(../../fonts/circular/FlowCircular-Regular.ttf);
}