// @font-face {
//   font-family: circularLight;
//   src: url(../../fonts/circular/Circular-Light.ttf);
// }

@font-face {
    font-family: 'circular-bold';
    src: url(../fonts/circular/circular-bold);
}

@font-face {
    font-family: 'circular-medium';
    src: url(../fonts/circular/circularMedium);
}

@font-face {
    font-family: 'circular-light';
    src: url(../fonts/circular/Circular-Light);
  }

  @font-face {
    font-family: 'circular-regular';
    src: url(../fonts/circular/circular-regular);
  }

  @font-face {
    font-family: 'poppins-bold';
    src: url(..fonts/circular/Poppins-Bold);
  }

  @font-face {
    font-family: 'poppins-semi-bold';
    src: url(../fonts/circular/Poppins-SemiBold);
  }

  @font-face {
    font-family: 'lato-regular';
    src: url(../fonts/circular/Lato-Regular);
  }

  

 

 
  