// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #222222;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;


// Colors
$clr-brand: hsl(349, 100%, 61%);
$clr-text-secondary: #6a6a6a;
$clr-text-lighter: #717171;
$clr-text-primary: hsl(0, 0%, 13%);
$clr-svg-imgs: #222222;

$clr-border: hsl(0, 0%, 87%);
$clr-border-dark: hsl(0, 0%, 69%);
$clr-bg: rgb(235, 235, 235);
$clr-white: #fff;
$clr-hover-bg: rgb(247, 247, 247);
$clr-hover-bg-dark: #dddddd;
$clr-black: #000;

$clr-success: #00ff00;
$clr-error: #ff0000;
$clr-warning: #ffc400;

$border-radius: 12px;

$header-height: 80px;

//PADDING
$wide-layout-padding: 80px;
$normal-layout-padding: 40px;
$mobile-layout-padding: 24px;

//MAX-WIDTH
$primary-max-width: 2360px;
$secondary-max-width: 1280px;
$chat-msg-min-width: 370px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 744px;
$normal-breakpoint: 945px;
$wide-breakpoint: 1440px;

$grid-break-point-1: 460px;
$grid-break-point-2: 644px;
$grid-break-point-3: 950px;
$grid-break-point-4: 1128px;
$grid-break-point-5: 1440px;
